<%= form_for(@honey) do |f| %>
  <% if @honey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@honey.errors.count, "error") %> prohibited this honey from being saved:</h2>

      <ul>
      <% @honey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :company %>
  </div>
    <div class="field">
    <%= f.label :location %>
    <%= f.select :location, options_for_select(%w[Bole Yeka Kirkos Arada Gulele Nifas_Silk_Lafto Addis_Ketema Akaki Ledeta Lafto]) %>
  </div>
    <div class="field">
    <%= f.label :honey_type %>
    <%= f.select :honey_type, options_for_select(%w[Cultural_Injera White_Welela Red_Welela]) %>
  </div>
  <div class="field">
    <%= f.label :condition %>
    <%= f.select :condition, options_for_select(%w[Packed Unpacked]) %>
  </div>
    <div class="field">
    <%= f.label :reciept %>
    <%= f.select :reciept, options_for_select(%w[VAT TOT None]) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
