<h1>Listing honeys</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      
      <th>Company</th>
      <th>Location</th>
      <th>Honey type</th>
      <th>Amount</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Reciept</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @honeys.each do |honey| %>
      <tr>
        
        <td><%= honey.company %></td>
        <td><%= honey.location %></td>
        <td><%= honey.honey_type %></td>
        <td><%= best_in_place honey, :amount %></td>
        <td><%= honey.condition %></td>
        <td><%= number_to_currency(honey.price) %></td>
        <td><%= honey.reciept %></td>
        <td><%= link_to raw("<i class='pull-right icon-hand-up'></i> #{honey.honey_orders.count}#{"Orders"} "),honey_honey_orders_path(honey)  %></td>
        <td>
          <% if can? :update, honey %>
          <%= link_to 'Edit', edit_honey_path(honey) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, honey %>
          <%= link_to 'Destroy', honey, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Honey %>
<%= link_to 'New Honey', new_honey_path %>
<% end %>
