<h1 class="page-title">Honey Market</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      
      <th>Company</th>
      <th>Location</th>
      <th>Honey type</th>
      <th>Amount</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Reciept</th>
      <th>Actions</th>
     
    </tr>
  </thead>

  <tbody>
    <% @honeys.each do |honey| %>
      <tr>
        <% @bool = 'false' %>
        <td><%= honey.company %></td>
        <td><%= honey.location %></td>
        <td><%= honey.honey_type %></td>
        <td><%= honey.amount %></td>
        <td><%= honey.condition %></td>
        <td><%= number_to_currency(honey.price) %></td>
        <td><%= honey.reciept %></td>
        <% honey.honey_orders.each do |honey_order| 
            if (honey_order.user_id == current_user.id)
               @bool = 'true' 
           end %>
        <% end %>
        <% if can? :create, HoneyOrder %>
          <% if @bool == 'false' %>
            <td><%= link_to "Make Order", new_honey_honey_order_path(honey) %></td>
          <% else %>
            <td><%= link_to "Make another Order", new_honey_honey_order_path(honey) %></td>
          <% end %>
        <% end %>
        <% if @bool == 'true' %> 
         <td><%= link_to "Your Orders", honey_honey_orders_path(honey) %></td>
        <% end %> 
        
        <% if can? :edit, honey %>
        <td><%= link_to raw("<i class='pull-right icon-chevron-right'></i> #{honey.honey_orders.count}#{"Orders"} "),honey_honey_orders_path(honey)  %></td>
        <td>
          <% end %>
          <% if can? :update, honey %>
          <%= link_to 'Edit', edit_honey_path(honey) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, honey %>
          <%= link_to 'Destroy', honey, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Honey %>
<%= link_to 'New Honey', new_honey_path %>
<% end %>
