<%= form_for(@mushroom) do |f| %>
  <% if @mushroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mushroom.errors.count, "error") %> prohibited this mushroom from being saved:</h2>

      <ul>
      <% @mushroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :company %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :day_of_supply %><br>
    <%= f.datetime_select :day_of_supply %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :reciept %><br>
    <%= f.text_field :reciept %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
