<%= form_for([@mushroom_order.mushroom, @mushroom_order]) do |f| %>
  <% if @mushroom_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mushroom_order.errors.count, "error") %> prohibited this mushroom_order from being saved:</h2>

      <ul>
      <% @mushroom_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :mushroom_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :company %>
  </div>
 <div class="field">
    <%= f.label :location %>
    <%= f.select :location, options_for_select(%w[Bole Yeka Kirkos Arada Gulele Nifas_Silk_Lafto Addis_Ketema Akaki Ledeta Lafto]) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
