<h1>Your mushroom orders</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      
      <th>Mushroom</th>
      <th>Company</th>
      <th>Location</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @mushroom_orders.each do |mushroom_order| %>
      <tr>
        
        <td><%= mushroom_order.company %></td>
        <td><%= mushroom_order.location %></td>
        <td><%= mushroom_order.quantity %></td>
        <td><%= number_to_currency(mushroom_order.price) %></td>
        
        <% if can? :update, mushroom_order %>
          <td><%= link_to 'Edit', edit_mushroom_mushroom_order_path(mushroom_order.mushroom, mushroom_order) %></td>
          <% end %>
        <% if can? :delete, mushroom_order %>
        <td><%= link_to 'Destroy', [mushroom_order.mushroom, mushroom_order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, MushroomOrder %>
 <%= link_to 'New Mushroom order', new_mushroom_mushroom_order_path %>
 <% end %>
 <%= link_to 'Back', mushrooms_path %>
