<h1>Milk Orders</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      
      <th>Company</th>
      <th>Location</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th>Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @milk_orders.each do |milk_order| %>
      <tr>
       
        <td><%= milk_order.company %></td>
        <td><%= milk_order.location %></td>
        <td><%= milk_order.daily_quantity %></td>
        <td><%= number_to_currency(milk_order.price) %></td>
        <% if can? :update, milk_order %>
          <td><%= link_to 'Edit', edit_milk_milk_order_path(milk_order.milk, milk_order) %></td>
        <% end %>
        
        <% if can? :delete, milk_order %>
          <td> <%= link_to 'Destroy', [milk_order.milk, milk_order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<% if can? :create, MilkOrder %>
 <%= link_to 'New Milk order', new_milk_milk_order_path %>
 <% end %>
<%= link_to 'Back', milks_path %>