<h1>Listing milk_orders</h1>

<table>
  <thead>
    <tr>
      
      <th>Company</th>
      <th>Location</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @milk_orders.each do |milk_order| %>
      <tr>
       
        <td><%= milk_order.company %></td>
        <td><%= milk_order.location %></td>
        <td><%= milk_order.daily_quantity %></td>
        <td><%= number_to_currency(milk_order.price) %></td>
        <td><%= link_to 'Edit', edit_milk_milk_order_path(milk_order.milk, milk_order) %></td>
        <td><%= link_to 'Destroy', [milk_order.milk, milk_order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'New Milk order', new_milk_milk_order_path %>
<%= link_to 'Back', milks_path %>