<%= form_for @egg, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_of_egg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_of_egg, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :daily_quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :daily_quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reciept, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reciept, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                egg_path, :class => 'btn' %>
  </div>
<% end %>
