<%- model_class = Egg -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:tel) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:type_of_egg) %></th>
      <th><%= model_class.human_attribute_name(:daily_quantity) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:reciept) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @eggs.each do |egg| %>
      <tr>
        <td><%= link_to egg.id, egg_path(egg) %></td>
        <td><%= egg.user %></td>
        <td><%= egg.company %></td>
        <td><%= egg.tel %></td>
        <td><%= egg.location %></td>
        <td><%= egg.type_of_egg %></td>
        <td><%= egg.daily_quantity %></td>
        <td><%= egg.price %></td>
        <td><%= egg.reciept %></td>
        <td><%=l egg.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_egg_path(egg), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      egg_path(egg),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_egg_path,
            :class => 'btn btn-primary' %>
