<%= simple_form_for(@egg, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :company %>
  <%= f.input :location, :label => "Location", :collection => ["Bole","Yeka"], :selected => "Bole" %>
  <%= f.input :type_of_egg, :label => "Egg Type", :collection => ["ferenji","habesha"], :selected => "fenenji" %>
  <%= f.input :daily_quantity %>
  <%= f.input :price, :label => "Price Per Egg" ,:wrapper => :append, :class => "inline" do %>
  <%= f.input_field :price, :placeholder => "2.00",  value: number_with_precision(f.object.price, precision: 2) %>
  <%= content_tag :span, "Birr", :class => "add-on abbn" %>
  <% end %>
  <%= f.input :reciept, :label => "Reciept Type", :collection => ["VAT","TOT","None"], :selected => "VAT" %>
  <div class = "form-actions">
  <%= f.button :submit, :class => "btn btn-large" %>
</div>
  <% end %>
<%= link_to '<< Back', eggs_path, :class => "btn btn-large btn-info" %>