<%= form_for(@egg) do |f| %>
  <% if @egg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egg.errors.count, "error") %> prohibited this egg from being saved:</h2>

      <ul>
      <% @egg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :company %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.select :location, options_for_select(%w[Bole Yeka Kirkos Arada Gulele Nifas_Silk_Lafto Addis_Ketema Akaki Ledeta Lafto]) %>
  </div>
  <div class="field">
    <%= f.label :type_of_egg %>
    <%= f.select :type_of_egg, options_for_select(%w[Habesha Ferenj]) %>
  </div>
  <div class="field">
    <%= f.label :reciept %>
    <%= f.select :reciept, options_for_select(%w[VAT TOT None]) %>
  </div>
  <div class="field">
    <%= f.label "Daily Supply" %>
    <%= f.number_field :daily_quantity %>
  </div>
  <div class="field">
    <%= f.label "Unit Price" %>
    <%= f.text_field :price, :placeholder => "0.00" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
