<h1>Listing eggs</h1>

<table>
  <thead>
    <tr>
      
      <th>Company</th>
      <th>Location</th>
      <th>Type of egg</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th>Reciept</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr class="row_class">
        
        <td><%= egg.company %></td>
        <td><%= egg.location %></td>
        <td><%= egg.type_of_egg %></td>
        <td><%= best_in_place egg, :daily_quantity %></td>
        <td><%= number_to_currency(egg.price) %></td>
        <td><%= egg.reciept %></td>
       <td> <%= link_to raw("<i class='pull-right icon-chevron-right'></i> #{egg.egg_orders.count}#{"Orders"} "),egg_egg_orders_path(egg)  %></td>
        <td>
          <% if can? :update, egg %>
          <%= link_to 'Edit', edit_egg_path(egg) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, egg %>
          <%= link_to 'Destroy', egg, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Egg %>
<%= link_to 'New Egg', new_egg_path %>
<% end %>
