<h1 class="page-title">Egg Market</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr class="tbl-header">
      
      <th class="tbl-header">Company</th>
      <th>Location</th>
      <th>Type of egg</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th>Reciept</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @eggs.each do |egg| %>
      <tr class="tbl-text">
        <% @bool = 'false' %>
        <td><div style="font-size:16px;" style = "font-family: 'Palatino';" class="company_decorator"><b><i><%= egg.company %></i></b></div></td>
        <td><%= egg.location %></td>
        <td><%= egg.type_of_egg %></td>
        <td><%= egg.daily_quantity %></td>
        <td class="tbl-text"><%= number_to_currency(egg.price) %></td>
        <td><%= egg.reciept %></td>
     
        <% egg.egg_orders.each do |egg_order| 
            if (egg_order.user_id == current_user.id)
               @bool = 'true' 
           end %>
        <% end %>
        <% if can? :create, EggOrder %>
          <% if @bool == 'false' %>
            <td><%= link_to "Make Order", new_egg_egg_order_path(egg) %></td>
          <% else %>
            <td><%= link_to "Make another Order", new_egg_egg_order_path(egg) %></td>
          <% end %>
        <% end %>
        <% if @bool == 'true' %> 
         <td><%= link_to "Your Orders", egg_egg_orders_path(egg) %></td>
        <% end %> 
        <% if can? :edit, egg %>
          <td> <b><%= link_to raw("<i class='pull-right icon-chevron-right'></i> #{egg.egg_orders.count}#{" Orders"} "),egg_egg_orders_path(egg), :class => "btn btn-mini btn-primary"  %></b></td>
        <% end %>
          <% if can? :update, egg %>
          <td><%= link_to 'Edit', edit_egg_path(egg) %></td>
          <% end %>
        
        
          <% if can? :delete, egg %>
          <td><%= link_to 'Destroy', egg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Egg %>
<%= link_to 'Put your eggs to the market.', new_egg_path, :class => "btn btn-large btn-primary" %>
<% end %>
