<%= form_for([@eggorder.egg, @eggorder]) do |f| %>
  <% if @eggorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eggorder.errors.count, "error") %> prohibited this egg order from being saved:</h2>
 
      <ul>
      <% @eggorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :egg_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :company %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.select :location, options_for_select(%w[Bole Yeka Kirkos Arada Gulele Nifas_Silk_Lafto Addis_Ketema Akaki Ledeta Lafto]) %>
  </div>
  <div class="field">
    <%= f.label :daily_quantity %>
    <%= f.number_field :daily_quantity %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, :placeholder => @eggorder.egg.price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
