<h1>Item</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th>Tel</th>
      <th>Location</th>
      <th>Type</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th>Reciept</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @egg.user %></td>
        <td><%= @egg.company %></td>
        <td><%= @egg.tel %></td>
        <td><%= @egg.location %></td>
        <td><%= @egg.type_of_egg %></td>
        <td><%= @egg.daily_quantity %></td>
        <td><%= @egg.price %></td>
        <td><%= @egg.reciept %></td>
      </tr>
    </tbody>
    </table>
<h1>Listing egg_orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th>Tel</th>
      <th>Location</th>
      <th>Price</th>
      <th>Daily quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eggorders.each do |egg_order| %>
      <tr>
        <td><%= egg_order.user %></td>
        <td><%= egg_order.company %></td>
        <td><%= egg_order.tel %></td>
        <td><%= egg_order.location %></td>
        <td><%= egg_order.price %></td>
        <td><%= egg_order.daily_quantity %></td>
        <td><%= link_to 'Show', [egg_order.egg, egg_order] %></td>
        <td><%= link_to 'Edit', edit_egg_egg_order_path(egg_order.egg, egg_order) %></td>
        <td><%= link_to 'Destroy', [egg_order.egg,egg_order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', eggs_path %>
<%= link_to 'New Egg order', new_egg_egg_order_path %>
