<div class = "adjust">
  <%= render 'index' %>
</div>

<h1>List of orders</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      
      <% if current_user.role == 'seller'%>
        <th>Company</th>
      <% end %>
      <th>Location</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <% if current_user.role == "seller" %>
        <th>Accepted</th>
      <% end %>
      
    </tr>
  </thead>

  <tbody>
    <% @egg_orders.each do |egg_order| %>
      <tr>
        
        <% if can? :update, egg_order and current_user.role == 'seller'%>
        <td><%= egg_order.company %></td>
        <% elsif current_user.role == "seller" %>
        <td class="blank"></td>
        <% end %>
        <td><%= egg_order.location %></td>
        <td><%= egg_order.daily_quantity %></td>
        <td><%= number_to_currency(egg_order.price) %></td>
        <% @egg_ordered = egg_order %>
        <% if can? :update, @egg_ordered and current_user.role == "seller"  %>
        <td><span style='font-size: 1.75em;'><%= best_in_place [@egg_ordered.egg,@egg_ordered], :accepted, :type => :checkbox, 
          :collection => [raw("<i class='icon-check-empty'></i>"), raw("<i class='icon-check'></i>")] %></span></td>
        <% elsif current_user.role == "seller" %>
        <td class="blank"></td>
        <% end %>
        <td>
          <% if can? :update, egg_order and current_user.role == "buyer" %>
          <%= link_to 'Edit', edit_egg_egg_order_path(egg_order.egg, egg_order) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, egg_order %>
          <%= link_to 'Destroy', [egg_order.egg,egg_order], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', eggs_path %>
<% if can? :create, EggOrder %>
<%= link_to 'New Egg order', new_egg_egg_order_path %>
<% end %>
