<h1>Listing egg_orders</h1>

<table>
  <thead>
    <tr>
      <th>userid</td>
      <th>Company</th>
      <th>Location</th>
      <th>Daily quantity</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @egg_orders.each do |egg_order| %>
      <tr>
        
        <td><%= egg_order.user_id %></td>
        <td><%= egg_order.company %></td>
        <td><%= egg_order.location %></td>
        <td><%= egg_order.daily_quantity %></td>
        <td><%= number_to_currency(egg_order.price) %></td>
        
        <td>
          <% if can? :update, egg_order %>
          <%= link_to 'Edit', edit_egg_egg_order_path(egg_order.egg, egg_order) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, egg_order %>
          <%= link_to 'Destroy', [egg_order.egg,egg_order], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', eggs_path %>
<% if can? :create, EggOrder %>
<%= link_to 'New Egg order', new_egg_egg_order_path %>
<% end %>
