<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @egg_order.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @egg_order.location %>
</p>

<p>
  <strong>Daily quantity:</strong>
  <%= @egg_order.daily_quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@egg_order.price) %>
</p>
<p>
  <strong>Accepted:</strong>
  <%= best_in_place @egg_order,:accepted, :path => egg_egg_orders_path %>
</p>


<%= link_to 'Ok', eggs_path %>
<%= link_to 'Edit', edit_egg_egg_order_path(@egg_order.egg,@eggorder) %> |

