<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @egg_order.user_id %>
</p>

<p>
  <strong>Egg:</strong>
  <%= @egg_order.egg_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @egg_order.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @egg_order.location %>
</p>

<p>
  <strong>Daily quantity:</strong>
  <%= @egg_order.daily_quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @egg_order.price %>
</p>

<%= link_to 'Ok', eggs_path %>
<%= link_to 'Edit', edit_egg_egg_order_path(@egg_order.egg,@eggorder) %> |
<%= link_to 'Back', egg_egg_orders_path(@eggorder.egg) %>
