<%= form_for(@honey_order) do |f| %>
  <% if @honey_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@honey_order.errors.count, "error") %> prohibited this honey_order from being saved:</h2>

      <ul>
      <% @honey_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
   <div class="field">
    <%= f.select :location, options_for_select(%w[Bole Yeka kirkos]) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
