<h1>Your honey orders</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
     
      <th>Company</th>
      <th>Location</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @honey_orders.each do |honey_order| %>
      <tr>
        <td><%= honey_order.company %></td>
        <td><%= honey_order.location %></td>
        <td><%= honey_order.amount %></td>
        <td><%= number_to_currency(honey_order.price) %></td>
        <% if can? :update, honey_order %>
          <% if current_user.role == "buyer" %>
            <td><%= link_to 'Edit', edit_honey_honey_order_path(honey_order.honey,honey_order) %></td>
          <% end %>
        <% end %> 
        
        
      <% if can? :delete, honey_order %>
        <td><%= link_to 'Destroy', [honey_order.honey, honey_order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', honeys_path %>
<% if can? :create, HoneyOrder %>
<%= link_to 'New Honey order', new_honey_honey_order_path %>
<% end %>