<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @honey_order.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @honey_order.location %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @honey_order.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@honey_order.price) %>  
</p>

<%= link_to 'Edit', edit_honey_honey_order_path(@honey_order.honey, @honey_order) %> |
<%= link_to 'Back', honey_honey_orders_path(@honey_order.honey) %>
