<%= form_for @honey, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :honey_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :honey_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :condition, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :condition, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reciept, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reciept, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                honey_path, :class => 'btn' %>
  </div>
<% end %>
