<!DOCTYPE html>
<html>
<head>
  <title>AddisFarmMarket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-list">
              <li class="nav-header">Resources</li>
              <li><%= link_to "Egg Market", eggs_path  %></li>
              <li><%= link_to "Honey Market", honeys_path  %></li>
              <li><%= link_to "Milk Market", milks_path  %></li>
              <li><%= link_to "Mushroom Market", mushrooms_path  %></li>
            </ul>
            <div id="container">
              <div id="user_nav">
                <% if user_signed_in? %>
                Signed in as <%= current_user.role %>.Not you? <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
                </div>
              </div>
<%= yield %>

</body>
</html>
